version: 2.1

workflows:
  runner-jobs:
    jobs:
      - machine-runner
      - container-runner

jobs:
  machine-runner:
    machine: true
    resource_class: atulsingh0/mrunner
    steps:
      - run: echo "Hi I'm on Machine Runners!"
    steps:
      - run: sleep 5
    steps:
      - run: curl ifconfig.me
    steps:
      - run: cat /proc/cmdline
    steps:
      - run: ps aux
    steps:
      - run: cat /proc/1/cmdline
    steps:
      - run: sleep 5


  container-runner:
    docker:
      - image: cimg/base:current
    resource_class: atulsingh0/crunner
    steps:
      - run: echo "Hi I'm on Container Runners!"
    steps:
      - run: sleep 5
    steps:
      - run: curl ifconfig.me
    steps:
      - run: cat /proc/cmdline
    steps:
      - run: ps aux
    steps:
      - run: cat /proc/1/cmdline
    steps:
      - run: sleep 5
    
