version: 2.1

docker_install_test: &docker_install_test
  name: "Testing Docker Installation"
  command: |
    echo "Listing Docker Network"
    docker network ls
    echo ""
    echo "Inspecting Docker Bridge Network"
    docker inspect $(docker network ls | grep -w bridge | awk '{print $1}')
    echo ""
    echo "IP address/s"
    ip route

local_test: &local_test
  name: "Running Commands locally"
  command: |
    echo $SLEEP
    date
    sleep $SLEEP
    date
    echo 'Done sleeping.'  

basic_docker_build: &basic_docker_build
  name: "Build a really basic docker image"
  command: |
    hostname
    dockerfile=Dockerfile
    echo "FROM busybox:latest" > $dockerfile
    echo "RUN echo hello" >> $dockerfile
    
    docker build -f $dockerfile --tag throwaway:$CIRCLE_BUILD_NUM .
    docker run --rm throwaway:$CIRCLE_BUILD_NUM

basic_windows_command: &windows_commands
  name: "Running Few windows command"
  command: |
    echo "I am in windows"
    sleep 2
    cls
    systeminfo
    docker info


commands:
  check_proxy_variables:
    steps:
      - run:
          name: check proxy env variables
          command: |
            echo "PROXY ENV Variables......"
            echo "HTTP_PROXY --> ${HTTP_PROXY}" 
            echo "HTTPS_PROXY --> ${HTTPS_PROXY}" 
            echo "NO_PROXY --> ${NO_PROXY}"
            echo ""
            echo "Checking Docker config - "
            cat /etc/systemd/system/docker.service.d/http-proxy.conf || echo "docker config does not exists"
            echo ""

jobs:
  # windows jobs
  medium_windows:
    machine:
      image: windows-default    
    resource_class: windows.medium
    steps:
      - checkout    
      - check_proxy_variables
      - run: Write-Host 'Hello, Windows'      
      - run:
          <<: *windows_commands
      - run:
          <<: *local_test    
      - run:
          <<: *docker_install_test
      - run:
          <<: *basic_docker_build
    environment:
      SLEEP: 1
  
  large_windows:
    machine:
      image: windows-default  
    resource_class: windows.large
    steps:
      - check_proxy_variables
      - run:
          <<: *windows_commands    
      - run:
          <<: *local_test
      - run:
          <<: *docker_install_test
      - run:
          <<: *basic_docker_build
    environment:
      SLEEP: 1



          
## ========================================================================
##                WORKFLOW
## ========================================================================
workflows:
  version: 2

  windows_jobs:
    jobs:
      - medium_windows
#      - large_windows
